body {
    min-height: 100vh;
    display: grid;
    place-items: center; 
    margin: 0;
}

.nome1 {
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    display: grid;
    grid-template-rows: repeat(3, 180px); 
    gap: 10px; 
    justify-content: center; 
    align-content: center; 
}

.nome2, .nome3, .nome4 {
    width: 700px;
    border: 2px solid black;
    
    display: grid;
    grid-auto-flow: column; 
    justify-content: space-evenly; 
    align-items: center;
}

.nome2 { background-color: burlywood; }
.nome3 { background-color: chartreuse; }
.nome4 { background-color: cadetblue; }

.nome5 {
    height: 80px;
    width: 90px;
    background-color: coral;
    border: 2px solid black;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
}

